.footerParent {
    padding: 5rem 3rem;
    background-color: #FFFFFF;

}

.footerPaddingParent {
    padding: 2rem 2em 0 2em;
    border-top: 1px solid #A6A5A7;
}

.tFT_estb {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    letter-spacing: 0.03em;
    margin-bottom: 1rem;

    color: #FC7737;
}

.tFT {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    letter-spacing: 0.03em;
    margin-bottom: 1rem;

    color: #FFFFFF;
}

.dFT {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */

    text-decoration: none;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.col2footer a {
    text-decoration: none;
}

.row1footer {}

.row2footer {}

.col1footer {}

.col2footer {}

.col2footerImage {}

.logoImage {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.logoImageConnect {
    object-fit: contain;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .footerParent {
        padding: 5rem 1rem;
    }
}