.div404 {
  width: 100%;
  /* height: auto; */
  display: flex;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.title404 {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  /* identical to box height, or 80px */

  letter-spacing: 0.03em;

  color: #1470F7;
}

.desc404 {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  /* identical to box height, or 80px */

  letter-spacing: 0.03em;

  color: #000000;
}

.tes {
  display: flex;
  padding: 1.5rem;
  border: 1px solid #1470F7;
  margin: 0 30px;
}

.ImageArtc {
  width: 100% !important;
  height: auto;
  object-fit: cover;
}

.imgS3 {
  width: 100% !important;
  height: auto;
  object-fit: cover;
}

.imgS7 {
  width: 150px !important;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.tesDiv {}

/************************************ TITLE **********************************************/
.titleh1 {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  /* identical to box height, or 100px */


  color: #1470F7;
}

.titleh1Italic {
  font-family: serif;
  font-style: italic;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  /* identical to box height, or 100px */


  margin-left: 20px;
  color: #1470F7;
}

.titleh1ItalicColor {
  font-family: serif;
  font-style: italic;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  /* identical to box height, or 100px */


  color: #FC7737;
}

.titleh3 {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  margin-top: 20px;
  letter-spacing: 0.03em;

  color: #424242;
}

.span1 {
  margin-left: 45px;
}

.span2 {
  margin-left: 20px;
}

@media screen and (min-width: 1920px) {

  .titleh1,
  .titleh1Italic,
  .titleh1ItalicColor {
    font-size: 124px !important;
  }
}

@media screen and (min-width: 1680px) {

  .titleh1,
  .titleh1Italic,
  .titleh1ItalicColor {
    font-size: 110px;
  }

  .titleh3 {
    font-size: 32px;
  }



  /* .span1 {
    margin-left: 35px !important;
  }

  .span2 {
    margin-left: 35px !important;
  } */
}

@media screen and (max-width: 1280px) {

  .titleh1,
  .titleh1Italic,
  .titleh1ItalicColor {
    font-size: 84px;
  }
}

@media screen and (max-width: 430px) {

  .titleh1,
  .titleh1Italic,
  .titleh1ItalicColor {
    font-size: 32px !important;
  }

  .titleh1Italic {
    margin-left: 5px !important;
  }

  .span1 {
    margin-left: 5px !important;
  }

  .span2 {
    margin-left: 5px !important;
  }

  .titleh3 {
    font-size: 12px !important;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 430px) {

  .titleh1,
  .titleh1Italic,
  .titleh1ItalicColor {
    font-size: 28px !important;
  }
}

.titleh2project {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* identical to box height, or 48px */

  color: #1470F7;
  margin-bottom: 35px;
}

.titleh2projectSpan {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* identical to box height, or 48px */

  margin-left: 10px;
  color: #FC7737;
}

.projectCardtTitle {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */


  color: #000000;
}

.projectCardtDesc {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: 0.03em;

  color: #000000;
}

.insightCardtTitle {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */


  color: #000000;
}

.linkdescProjects {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: 0.02em;

  color: #FC7737;
}

.title1HTO {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  /* or 32px */
  color: #000000;
}

.title2HTO {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  /* or 24px */

  color: #000000;
}

.title3HTO {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  /* or 24px */

  letter-spacing: 0.03em;

  color: #000000;
}

@media screen and (max-width: 430px) {
  .titleh2project {
    display: block;
    font-size: 38px;
  }

  .titleh2projectSpan {
    margin-left: 0.5rem;
    font-size: 38px;
  }

  .title1HTO {
    font-size: 18px;
    text-align: center;
  }

  .title2HTO,
  .title3HTO {
    font-size: 14px;
    text-align: center;
  }

  .titleContact {
    font-size: 38px !important;
  }

  .title1audience {
    font-size: 18px !important;
  }

  .title2audience {
    font-size: 38px !important;
  }

  .title2audienceSpan {
    font-size: 38px !important;
  }
}

@media screen and (max-width: 375px) {
  .titleh2project {
    font-size: 34px;
  }

  .titleh2projectSpan {
    font-size: 34px;
  }

  .title1audience {
    font-size: 16px !important;
  }

  .title2audience {
    font-size: 34px !important;
  }

  .title2audienceSpan {
    font-size: 34px !important;
  }

  .titleContact {
    font-size: 34px !important;
  }
}

.title1audience {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  /* or 25px */

  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.03em;

  color: #424242;
}

.title2audience {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */


  color: #1470F7;
}

.title2audienceSpan {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  margin-bottom: 1.5rem;
  color: #FC7737;
}

.accor {
  margin-bottom: 1.5rem;
  /* border-color: 0 0 1px 0 solid #FC7737 !important; */
}

.accor button:focus {
  box-shadow: 0 0 0 0.1rem rgba(252, 119, 55, 0.5);
}

.headreAccorAudicence::after {
  background: #FFFFFF !important;
  color: #FFFFFF !important;
}

.headreAccorAudicence button {
  background: #F4F5F5 !important;
  color: #000000 !important;
}

.bodyAccorAudience {
  background: #F4F5F5 !important;
  color: #000000 !important;
}

.accor button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231470F7'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.headreAccorAudicence {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  /* or 24px */

  letter-spacing: 0.03em;

  color: #000000;
}


.titleContact {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 135%;
  /* identical to box height, or 65px */


  color: #FFFFFF;
}

.itemMetode {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 24px */

  letter-spacing: 0.04em;

  color: #000000;
}

/*************************** IMAGES ********************************/
.rectangle2 {
  width: 400px;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 1920px) {
  .rectangle2 {
    width: 545px !important;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (min-width: 1366px) {
  .rectangle2 {
    width: 375px;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 1280px) {
  .rectangle2 {
    width: 350px;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 430px) {
  .rectangle2 {
    width: 130px;
    height: auto !important;
    object-fit: cover !important;
  }
}

@media screen and (max-width: 391px) {
  .rectangle2 {
    width: 103px;
    height: auto !important;
    object-fit: cover !important;
  }
}

.rectangle24 {
  width: 100%;

  object-fit: cover;
}

.logoHTO {
  border-radius: 50%;
  width: 190px;
  overflow: hidden;
  height: 190px;
  object-fit: cover;
  background-color: #D9D9D9;
}

@media screen and (max-width: 1920px) {
  .logoHTO {
    border-radius: 50%;
    width: 140px;
    overflow: hidden;
    height: 140px;
    object-fit: cover;
    background-color: #D9D9D9;
  }
}

@media screen and (max-width: 1440px) {
  .logoHTO {
    border-radius: 50%;
    width: 190px;
    overflow: hidden;
    height: 190px;
    object-fit: cover;
    background-color: #D9D9D9;
  }
}

@media screen and (max-width: 1366px) {
  .logoHTO {
    border-radius: 50%;
    width: 150px;
    overflow: hidden;
    height: 150px;
    object-fit: cover;
    background-color: #D9D9D9;
  }
}

@media screen and (max-width: 430px) {
  .colHTO {
    display: flex;
    justify-content: center;
  }

  .logoHTO {
    width: 130px;
    height: 130px;
    margin-bottom: 1rem;
  }
}

.imgLogo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.elipse {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/************************** CARD ***************************/
.cardInsight {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.cardInsight:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}


/****************************** SECTION ************************************/
.section1 {
  min-height: 70vh;
  padding: 5.5rem;
  width: 100%;
}

@media screen and (min-width: 1920px) {
  .section1 {
    min-height: 70vh;
    padding: 8rem !important;
    width: 100%;
  }
}

@media screen and (min-width: 1680px) {
  .section1 {
    min-height: 70vh;
    padding: 10.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 1366px) {
  .section1 {
    min-height: 70vh;
    padding: 3.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .section1 {
    min-height: 70vh;
    padding: 2.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .section1 {
    min-height: 20vh !important;
    padding: 2rem 2rem 0 2rem !important;
    width: 100% !important;
  }
}

.sectionLogo {
  margin: 0 -140px;
  padding: 3rem 0 3rem 0;
}

@media screen and (max-width: 1000px) {
  .sectionLogo {
    margin: 0 -50px;
  }
}


@media screen and (min-width: 768px) {
  .cols2 {
    width: 12.44444%;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .sectionLogo {
    margin: 0px;
  }

  .cols2 {
    width: 33.333333%;
  }
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 6rem 0rem 6rem;

  background-color: #FFFFFF;
}

@media screen and (max-width: 430px) {
  .main {
    padding: 6rem 0 1rem 0;
    }
    
    .sectionLogo {
      padding: 2.5rem 0rem 1.5rem;
    }
    }
    
    .mainSection {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #FFFFFF;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      padding-left: 5.5rem;
      padding-right: 5.5rem;
    }
    
    @media screen and (max-width: 768px) {
      .mainSection {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    
    .mainSectionHTO {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

.divElipse1 {
  position: absolute;
  margin: 0;
  top: -50px;
  left: 6%;
  z-index: 1;
}

.divElipse2 {
  position: absolute;
  margin: 0;
  top: 55%;
  left: 55%;
  z-index: 1;
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}
.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(to bottom right,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1));
  background-clip: content-box;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
      animation: none;
    }
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .logo,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
