.navbarParent {
    background: rgba(255, 255, 255, 0.75);

    backdrop-filter: blur(12.5px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 111;
    /* padding: 15px 0; */
    padding: 0 3rem;
    transition-property: height;
    transition-delay: 0.5s;
}

.navbarParentTransperant {
    background: rgba(255, 255, 255, 0.75);

    backdrop-filter: blur(12.5px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 111;
    /* padding: 15px 0; */
    padding: 0 3rem;
    transition-property: height;
    transition-delay: 0.2s;
}

@media screen and (max-width: 1200px) {
    .navbarParent {
        height: unset;
    }

    .navbarParentTransperant {
        height: unset;
    }

    .navbarParentTransperant .collapse.show {
        background: rgba(65, 64, 66, 0.75);

    }

    .navbarParentTransperant .navbarCollapse1Bg {
        background: rgba(255, 255, 255, 0.75);
        border-bottom: 0.5px solid #1470F7;
        backdrop-filter: blur(12.5px);

        /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); */
    }
}

@media screen and (max-width: 425px) {
    .navbarParent {
        padding: 0 0 0 0;
    }

    .navbarParentTransperant {
        padding: 0 0 0 0;
    }
}

.logoImage {
    width: 100% !important;
    height: auto;
    object-fit: contain;

}

.navCollapse {
    margin: auto;
    padding-bottom: 0;
}

.navItem {
    /* NavMenu */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    /* or 20px */

    letter-spacing: 0.03em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    color: #1470F7 !important;

    scroll-behavior: smooth;
}

.navItemDropdownParent>div {
    padding: 10px !important;
}

.navItemDropdownParent>a {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    /* or 20px */

    letter-spacing: 0.03em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    color: #1470F7 !important;

    scroll-behavior: smooth;
}

.navItemDropdown>a:hover {
    border-bottom: 1px solid #1470F7;
}

.navItemDropdownParent {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135%;
    /* or 20px */

    letter-spacing: 0.03em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    color: #1470F7 !important;

    scroll-behavior: smooth;
    border-left: 1px solid #1470F7;
}

.navItemDropdownParent:hover {
    color: #FC7737 !important;
}

.navItemDropdown {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 135%;
    /* or 20px */

    letter-spacing: 0.03em;

    margin: 10px 0;
    color: #1470F7;
}

/* @media screen and (min-width: 1200px) {
    .navItemDropdownParent > div.dropdown-menu.show {
        top: 53px !important;
    }
} */

.navItemDropdown:hover {
    background-color: #FFFFFF;
    color: #1470F7;
    border-bottom: 1px solid #1470F7;
}

.navItemDropdown:active {
    color: #FC7737 !important;
    background-color: transparent !important;
}

.navItemDropdown::after {
    color: #1470F7 !important;
    background-color: transparent !important;
}

.navItemContact {
    /* NavMenu */
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 135%;
    /* identical to box height, or 22px */


    color: #FC7737 !important;
}

.navItem1 {
    /* NavMenu */
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 135%;
    /* or 20px */

    letter-spacing: 0.03em;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    color: #FC7737 !important;
    border-radius: 10px;
    scroll-behavior: smooth;
}

.navItem1:hover {
    color: #FFFFFF !important;
    background-color: #FC7737;
    border-radius: 10px;
}

.navItem:hover {
    color: #FC7737 !important;
}

.navbarCollapse1Bg {
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .navCollapse {
        margin: 0 0 0 0px !important;
    }
}